/*
**
**  $Id: $
**
**  Funktion:  Provides styles only needed on dowwnload.openSUSE.org
**  Authors:   Frank Sundermeyer <fs@opensuse.org>
**             Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

#sponsors {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #336699;
}

h3, h4, h5, h6 {
    margin-top: 1em;
}
.navlist {
    list-style-image: url(../common/images/liDot_double_blue.png);
}
.show {
    display: inline;
}
.hide {
    display: none;
}

/*****************
* General Styles *
*****************/
#searchbox .topleft {
 background: #fff url(http://static.opensuse.org/hosts/users.o.o/css/images/blue_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
  background: url(http://static.opensuse.org/hosts/users.o.o/css/images/blue_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
 background: url(http://static.opensuse.org/hosts/users.o.o/css/images/blue_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
 background: url(http://static.opensuse.org/hosts/users.o.o/css/images/blue_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
#searchbox .button {
 float: right;
}
/*-------------------*
* Download Home page *
*--------------------*/

#media_type,
#protocol {
    margin-bottom: 10px;
}
#architecture label {
    display: block; 
}
#protocol label,
#media_type label {
    margin: 1px 2em 1px 0;
}
#architecture label {
    margin: 1px 0;
}
#architecture label,
#protocol label,
#media_type label {
    border: 1px solid #fff;
    padding: 6px;
    cursor: pointer;
}
#architecture label:hover,
#protocol label:hover,
#media_type label:hover {
    border-color: #eee;
    background-color: #fcfcfc;
}
#architecture label.selected,
#protocol label.selected,
#media_type label.selected {
    font-weight: bold;
    background-color: #f6f6f6;
    border-color: #eee;
}
.media {
    margin-bottom: 1em;
}
.media h3 {
    font-size: 1em;
    color: #666;
}
.media img {
    margin-right: 5px;
}
.media_description {
    margin: -1em 0 1em;
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}
.dl_link {
    margin: .8em 0 0 31px;
    text-indent: -31px;
}
label.selected .arch_eg {
    font-weight: normal;
}
.eg,
.arch_eg {
    font-size: 0.8em;
}
.arch_eg {
    margin-left: 2em;
    display: block;
}
.info_text {
    font-weight: normal;
    font-size: 0.95em;
}
.helplink {
    position: relative;
    top: .3em;
    float: right;
    margin-right: .3em;
    font-weight: bold;
}

#bodyContent
{
  min-height: 300px;
}

.pagination {
  padding: 3px;
  margin: 3px;
  text-align: center;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  /*border: 1px solid #aaaadd;*/
  text-decoration: none !important;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  /*border: 1px solid #000099;*/
  background-color:#F6F6F6;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  /*border: 1px solid #000099;*/
  font-weight: bold;
  /*background-color: #000099;*/
  /*color: #FFF;*/
  color: #333;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  /*border: 1px solid #eee;*/
  color: #ddd;
}

.pagination span.disabled img {
  display: none;
}

#contentarea a {
  text-decoration: none !important;
}

/*****************
* Notifications *
*****************/

#notification_box {
  display: table;
  position: relative;
  margin: 1em 0;
  font-size: 110%;
  width: 100%;
}

#notification_box * {
}

#notification_box #left_col, #notification_box #right_col {
  margin: 0.3em;
}

#notification_box #left_col {
  width: 6.7em;
  max-width: 100px;
  position: absolute;
  text-align: center;
}

#notification_box #left_col #notification_icon {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}

#notification_box #left_col #notification_icon span {
  display: none;
}

#notification_box #right_col {
  margin-left: 9em; 
}

#notification_box #right_col p {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#notification_box #right_col h1 {
  font-size: 1.5em;
}

#notification_box #right_col #notification_h1 {
}

#notification_box.error {
  border: 1px solid #8C0000;
  background-color: #FF4D4D;
}

#notification_box.error * {
  color: #f9f9f9;
}

#notification_box.error #notification_icon {
  background: transparent url('/css/local/images/flash_error_34.png') no-repeat scroll top left;
}

#notification_box.notice {
  border: 1px solid #FCB21C;
  background-color: #FFFFBD;
}

#notification_box.notice * {
  color: black;
}

#notification_box.notice #notification_icon {
  background: transparent url('/css/local/images/flash_notice_34.png') no-repeat scroll top left;
}

#notification_box.success {
  border: 1px solid #217808;
  background-color: #8FCF06;
}

#notification_box.success * {
  color: #f9f9f9;
}

#notification_box.success #notification_icon {
  background: transparent url('/css/local/images/flash_success_34.png') no-repeat scroll top left;
}


/*******************
* Election layouts *
********************/

#ballot ul {
  list-style: none;
}

ul.ballot li {
  margin-left: 0;
}

#my_election {
  margin-bottom: 1em;
}

#my_election_info {
  float: right;
}

#my_election h4,
#my_election h4 a,
#my_election h4 a:visited,
#ballot h4,
#ballot h4 a,
#ballot h4 a:visited,
#franchise h4 {
  color: gray;   
}

#my_election h4 a:hover,
#ballot h4 a:hover {
  color: #3d7094;
}

#my_election #description,
#franchise #description,
#ballot #description {
  font-style: italic;
}

#my_election #description,
#ballot #description {
  margin-bottom: 0;
}

#my_election #date {  
  color: #777;
  margin-bottom: 0;
}

#ballot #votes {
  margin-bottom: 0.5em;
  font-weight: bold; 
}

#franchise #results h4 {
  margin-bottom: 1em;
}

#franchise p.legend {
  font-style: italic;
}
