[submodule "hosts/www.o.o"]
	path = hosts/www.o.o
	url = https://github.com/openSUSE/old-landing-page.git
[submodule "login"]
	path = login
	url = https://github.com/openSUSE/openSUSE-login
[submodule "themes"]
	path = themes
	url = https://github.com/openSUSE/opensuse-themes
[submodule "chameleon"]
	path = chameleon
	url = https://github.com/openSUSE/chameleon.git
[submodule "chameleon-2.0"]
	path = chameleon-2.0
	url = https://github.com/openSUSE/chameleon.git
	branch = rel-2.0
[submodule "artwork"]
	path = artwork
	url = https://github.com/openSUSE/artwork.git
