
/* 
**
**  $Id: $
**
**  Funktion:  Provides styles only needed on the openSUSE.org wiki
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/*****************
* General Styles *
*****************/

body {
  font-family: Arial, sans-serif;
}

#contentarea,
#col1_content, #col2_content, #col3_content {
  position: static;
/*  position: relative;*/
}

.navlist,
#rightnav ul {
    list-style-image: url(http://static.opensuse.org/c/css/common/images/liDot_double_green.png);
}
.skipLinks {
    display: none;
}
#searchbox .topleft {
    background: #fff url(http://static.opensuse.org/hosts/forums.o.o/css/images/green_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
    background: url(http://static.opensuse.org/hosts/forums.o.o/css/images/green_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
    background: url(http://static.opensuse.org/hosts/forums.o.o/css/images/green_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
    background: url(http://static.opensuse.org/hosts/forums.o.o/css/images/green_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    color: #669900;
}

/*************************************************
* Overwrite YAML styles                          *
*   all non color/image changes should go to the *
*   common css directory                         *
*************************************************/

blockquote {
    border-left: 4px solid #D9E5BF;
    border-right: 4px solid #D9E5BF;
    border-top: 1px solid #D9E5BF;
    border-bottom: 1px solid #D9E5BF;
}
cite {
    border-left: 4px solid #D9E5BF;
}
code {
    background-color: #D9E5BF;
}
hr {
    border-bottom: 1px #ccc solid; 
}
input, textarea {
    border: 1px solid #669900;
}
input[type=text]:focus, textarea:focus {
        border-color: #669900;
}
input[type=submit] {
    background-color: #D9E5BF;
    color: #000;
}
pre {
    border: 2px dashed #B2CC7F;
    background:#F0F0F4 none repeat scroll 0%;
    color:#000;
    display:block;
    margin:0pt 0pt 1em 1em;
    padding:0.5em;
}
ul {
    list-style-image: url(../common/images/liDot_wiki.png);
}

#bodyContent {
    padding: .5em 1.5em;
}

#contentarea table {
  border-collapse:separate;
}

/*----------------------
*  The Personal Toolbar 
*----------------------*/

#pt-personal {
    color: #D9E5BF;
}
#pt-personal a {
    color: #D9E5BF;
}


/****************************
*  Override vBulletin Stuff *
****************************/

table td, table th {
  padding: 0;
}
table {
/*  width: 100%;*/
}
table table th,
table table td {
  padding-right: 0;
  padding-left: 0;
}
.tborder {
  width: 100%;
}
.tborder td {
  border-bottom: 1px solid #ddd;
}
.tborder table td {
  border-bottom: 0px;
}
.smallfont {
  font-size: 1em;
}
td.tcat {
  padding: 0.5em 1em 0.3em;
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
 /* border-top: 2px solid #eee; */
}

  .posts td.tcat {}

  td.tcat .smallfont,
  td.tcat span {
    font-size: 0.8em;
  }
  td.tcat span {
    color: #999;
  }
  .alt1Active .smallfont span {
    margin-left: 1em; 
  }

div#links {
  border: 1px solid #999 !important; 
}

td.tfoot div {
  margin: 0.5em 0;
}
td.tcat,
/*td.tfoot,*/
.vbmenu_control,
#imod {
  background: #f5f5f5;
}
 
#bodyContent a[href^="http://"],
#bodyContent a[href^="gopher://"] {
  background: none;
  padding-right:0;
}

.tborder tbody table {
  margin: 0.2em 0;
}

#main a[href^="http:"],
#main a[href^="https:"] {
  background-image:none;
  padding-left:0pt;
  text-decoration: none;
}
 
.thead {
  background: #e0e0e0;
  padding: 0.3em;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #999;
}
    
#forum0 {
  width: 100%;
}
    
table.tcat-rounded {
  width: 100%;
  margin-bottom: 0;
  margin-top: 1em;
}
/*
.tcat-rounded td {
  padding: 0.3em 0.5em;
  background: #eee;
  font-weight: bold;
}
*/
.tcat  a {
  text-decoration: none!important;
}
/* personal navigation tweak (head) */
#pt-personal a {
}


h3#siteSub {
  color: #666;
  font-weight: bold;
}

#calendar_wrapper table {
  width: 30em;
}

.pagenav { /* thread nav */
 /* width: 20em;*/
  float: right;
}
  .curpage {
    background: fuchsia;
  }
select {
  border: 1px solid #999;
}

.content-row {
  padding-top: 0;
  width: 100%;
}
.alt1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #eee;
}
.alt1,
.alt1Active {
/*  padding-left: 0.5em;
  padding-right: 0.5em*/;
}
.alt2,
#threadtools {
  background: #f5f5f5;
}

td.alt2 {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.alt,
.hightlight_box table .alt2 {
  border-top: 1px solid #ddd;
  background:#f0f0f0 ;
}
  .hightlight_box table .alt2 .alt2 {
    border-top:0; /* it looks bad if you have a border followed by an other -identical- one  */
  }

.hightlight_box .tfoot {
  background: #e5e5e5;
}

#imod {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.post_controle_wrapper {
  width: 100%;
}

.post_controle_wrapper td {
  /*vertical-align: bottom;*/
}

.pagenav .vbmenu_control {
/*  padding: 0.1em;*/
} 
.pagenav .alt1,
.pagenav .alt2,
.pagenav .vbmenu_menu{
  text-align: center; 
  padding:0.5em 0.2em 0.2em!important;
}

.pagenav .vbmenu_page_counter {
  padding-left: 0.5em; 
}

.pagenav .vbmenu_menu {
  width: 1.5em;
  text-align: center;
}

.pagenav td {
} 


.thread_list {
}
.thread_list .alt2 {
 /* fix for position of "currents" post in thread list */
  padding-left: 0.5em;
  padding-right: 0.5em;
}


/* vbmenu tweak */

.vbmenu_popup {
/*  position: fixed!important;*/
/*  width: 23em;*/
/*  top: 14em!important;*/
/*  right: 3em!important;*/
/*  bottom: auto!important;*/
/*  left: auto!important;*/
}

#contentarea a {
  text-decoration: none;
}

.vbmenu_popup table {
/*
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
*/
  border-bottom: 2px solid #999;
  border-top: 0;
  background: #ccc;
}
.vbmenu_popup td {
  text-align: left;
  padding: 0.5em;
} 
.vbmenu_popup td a:link {
  text-decoration: none !important;
}

.vbmenu_popup .thead {

}
td.vbmenu_option {
  background-color: #ccc;
}

.vbmenu_control {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
}
.vbmenu_control a {
}


/* /vbmenu tweak */

/* Post Style*/

#posts table {
  width: 100%;
} 

.content-row .alt1,
.content-row .alt2 { /* post styling */
  background: #F7F7F7;
}

.post-title {
  margin-top: 0.5em;
  font-size: 1em;
}  

.post_content {
  margin-top:0.5em;
}
.post-bottom {
  margin: 0.5em 0 0.2em;
  padding: 3px;
  background: #eee;
}
.post-title,
.post_content,
.post_signature {
    padding: 0.5em 1em;
}

/* Quote Styling */
.quote_wrapper {
  border-left: 7px solid #ccc;
  border-right: 7px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  margin: 0.5em 0 1em;
}



.quote_wrapper .quote_head
.quote_wrapper .quote_body {
/*  padding: 0.5em;*/
}
  .quote_head {
    color: #666;
    background: #e0e0e0;
    padding: 0.3em 0.5em 0.2em;
    
  }
      .quote_head strong,
      .quote_head b {
        color: #690;
        }
  .quote_body {
    background: #fff;
    padding: 1em 0.5em;
  }



/* /Quote Styling */
/* /Post Style */

/* Login */
/* 2008-04-30: currently not in use */
  .box_content input {
    margin: 0;
    padding: 0.1em;
    font-size: 0.9em;
  }
  .box_content label {
    font-size: 1em;
  }
/* /Login */


/* Text Editor   *
 * for posts etc. *
 ******************/

.fieldset input {
  font-size: 1.2em;
}

.vBulletin_editor textarea {
  font-size: 1.5em;
}



/* /Texxt Editor */


/* Calendar Tweek */
#show_today,
#cal_mode,
#add_event {
  text-align: center;
  width:8em;
}
#cal_mode {
  background-color: #eee; 
}

#yearly_view {
  margin: 0 auto;
}
#yearly_view td { /* space between month */
  padding: 0.5em;
}
  #yearly_view td table td { /* space at day */
    padding: 0.3em;
  }
/* /Calendar Tweek */

/* Poll Style */

.panel {
  margin: 1em 0;
}

.fieldset{
   border: 1px solid  #ccc;
   padding: 0 1em;
   background-color: #f9f9f9;
 }
legend {
  font-weight: bold;
  color: #666;
}
.fieldset div {
  margin: 0 1em;
}
.fieldset div div {
  margin: 1em !important;
}
.fieldset input {
  margin: 0 0.5em;
}
.pannelsurround {}

/* /Poll Style */

