/* 
**
**  Funktion: CSS for openSUSE Build Service Webclient V 2.0
**  Author:   Robert Lihm <rlihm@suse.de>
**
*/

/* - Colours Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

#fcfcfc BG super light Grey
#c6c6c6 BG light Grey
#d6d6d6 BG lighter gray for footer
#363636 Darkest Grey -> Navigation-Bar
#262626 Darkest Grey
#a6a6a6 SpacerGrey
#909FAB november morning Blue
#3a71a8 spring marine

- - /Colours Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* - Basic Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
  min-width: 770px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  color: #363636;
  font: 1em Arial, "Liberation Sans", sans-serif;
}

div {position: relative;}
a {
  cursor: pointer;
  color: #909FAB;
  text-decoration: none;
}
a:hover {
  color: #CC0000;
  text-decoration: underline;
}
input {
  border: 1px solid #262626;
  background: #f5f5f5;
}
img {border: none;}
/* - /Basic Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* ----------------------------------------------------------------------- */

#main {background-color: #fcfcfc;}
#head {
  display: block;
  width: 100%;
  height: 3em;
  font-size: 1em;
  color: #fcfcfc;
  border-bottom: 2px solid #909FAB;
  background: #2B3036 url('images/nav_gradient_dark2.png') repeat-x scroll 0 0;
/*  background: #363636 url('images/nav_gradient_dark2.png') repeat-x scroll 0 0;*/
  
  font-size: 1em;
  color: #fcfcfc;
  border-bottom: 2px solid #909FAB;
  
}
#head-contet, #personal-navigation-wrapper, #main-content-wrapper, #footer-main-content, #grid-main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 2em;
}

#head-contet,
#main-content-wrapper {
  margin-bottom: 0;
  overflow: hidden;
}

ul.navigation {
  margin: 0;
  padding: 0;
  list-style: none inside;
}

#note { /* Notification above mein Nave */
  display: none;
  padding: 0.5em 0;
  background: #909FAB url('images/nav_gradient_dark2.png') repeat-x scroll 0 0;
  border-bottom: 1px solid #747f89;
  text-align: center;  
}
/* Notification trigger*/
#note.note-on {display: block;}

#note p {margin: 0;}
#logo-wrapper, #navigation-wrapper {}
#logo-wrapper {}
#logo-wrapper img {
  margin-top: 5px;
}
#navigation-wrapper {}
#navigation-wrapper * {float: right;}
#personal-navigation-wrapper {}

#main-navigation li,
#personal-navigation li,
#breadcrumb-navigation li {
  float: left;
  margin: 1em 1em 0 0;
}
#main-navigation a,
#personal-navigation a,
#breadcrumb-navigation a {
  display: block;
  width: 100%;
  height: 2em;
  text-decoration: none;
  color: #fcfcfc;
  color:#909FAB;
}

#personal-navigation {
  font-size: 0.8em;
}

#main-navigation a:hover {  
  color: #fcfcfc;
  background: transparent url('images/nav_pos_arrow_lavagrey.png') no-repeat scroll bottom center;
}
#main-navigation a:hover,
#personal-navigation a:hover {
  
}
#main-navigation a.active-page { /* show current position on page */
  color: inherit;
  background: transparent url('images/nav_pos_arrow_blue.png') no-repeat scroll bottom center;
  font-weight:bold;  

}
#head p {
  display: inline;
}
#head input {
  float: left;
  color: #666;
}

#controlbar input#search {
  width: 15em;
  max-width: 160px;
}

.navigation-search-form {}

#searchbox {}

.searchbutton {
  margin-left: 5px;
  border: 0;
  background: none;
}

/* Grid */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col10, .col12 {
  margin: 0 0.65%;
  float: left;
  height: 100%;
}

.col1 {width: 7%;}
.col2 {width: 15.3%;}
.col3 {width: 23.6%;}
.col4 {width: 31.9%;}
.col5 {width: 40.2%;}
.col6 {width: 48.5%;}
.col7 {width: 56.8%;}
.col8 {width: 65.1%;}
.col10 {width: 81.7%;} /* 81.6% */
.col12 {width: 98.3%;}
/* /Grid */

/* CSS Sprites = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =  */
.widget a.widget-searchbar,
.widget a.widget-searchbar-active,
.widget a.widget-config,
.widget a.widget-config-active,
.widget .up-trigger,
.widget .down-trigger,
.widget .left-trigger,
.widget .right-trigger,
.widget .remove-trigger,
.widget .add-trigger,
a.vote-trigger,
a#layer-close {
  background: transparent url('images/map-interaction.png') no-repeat scroll 0 0;
}

/* Widget */
.widget a.widget-searchbar {        background-position: -20px 0;}
.widget a.widget-searchbar-active { background-position: -20px -40px;}
.widget a.widget-config {           background-position: 0 0;}
.widget a.widget-config-active {    background-position: 0px -40px;}
.widget .up-trigger {               background-position: 0 -40px;}
.widget .down-trigger {             background-position: -16px -80px;}
.widget .left-trigger {             background-position: -32px -80px;}
.widget .right-trigger {            background-position: -48px -80px;}
.widget .remove-trigger {           background-position: -14px -112px;}
.widget .add-trigger {              background-position: 0 -112px;}
.widget a.widget-searchbar:hover {  background-position: -20px -20px;}
.widget a.widget-config:hover {     background-position: 0 -20px;}
.widget .up-trigger:hover {         background-position: 0 -96px;}
.widget .down-trigger:hover {       background-position: -16px -96px;}
.widget .left-trigger:hover {       background-position: -32px -96px;}
.widget .right-trigger:hover {      background-position: -48px -96px;}
.widget .remove-trigger:hover {     background-position: -14px -126px;}
.widget .add-trigger:hover {        background-position: 0px -126px;}

/* Vote */
a.vote-trigger {                    background-position: 0 -140px;}
a.positive-trigger {                background-position: -64px -140px;}
a.neutral-trigger {                 background-position: -32px -140px;}
a.negative-trigger {                background-position: 0 -140px;}
a.positive-trigger:hover {          background-position: -64px -172px;}
a.neutral-trigger:hover {           background-position: -32px -172px;}
a.negative-trigger:hover {          background-position: 0 -172px;}

a.positive-trigger-selected {       background-position: -48px -48px;}
a.neutral-trigger-selected {        background-position: -24px -48px;}
a.negative-trigger-selected {       background-position: 0 -48px;}

/* Layer */
a#layer-close {              background-position: 0px -204px;}
a#layer-close:hover {        background-position: 0px -220px;}

/* /CSS Sprites = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =*/

/* configuration menu ========================================================== */

/* FIXME: currently not in user 2009-03-13
#config-menu-navigation {
  height: 2em;
  width: 100%;
}
#config-menu-navigation ul{}
#config-menu-navigation li {
  margin-bottom: 0.2em;
  width: 5em;
  float: left;
  height: 1.5em;
}*/

.config-menu {
  display: none;
  position: relative;
  clear: both;
  border-top: 2px solid #909FAB;
  border-bottom: 3px solid #909FAB;
  background-color: #363636;
  color: #efefef;
  font-size: 0.8em;
}

.config-menu-content {
  margin: 1em auto;
  width: 95%;
}

.config-menu p,
.config-menu-content form ul,
.config-menu-content form li {
  padding: 0;
  margin: 0;
}
.config-menu-content form li {
  list-style: none inside;
}
.config-menu-content input {
  border: 1px solid #999;
}

.config-menu-content {
  height: 88%;
}

/* FIXME: currently not in user 2009-03-13
#config-options {
  width: 100%;
}

.config-menu-column {
  float: left;
  width: 25%;
  margin: 0 0.5em;
}

.config-module {
  margin: 0.2em;
}
*/
/*.nav {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.nav a {
  text-decoration: none;

  text-align: center;
  display:block;
  height:1.5em;
  padding:0.5em 0.5em 0;
  text-decoration:none;
  width:100%;

}

.nav a:hover {
  background-color: #909FAB;
}
*/
/* /configuration menu ======================================================== */

#main-content-wrapper {
  display: block;
  overflow: auto;
  min-height: 50%;
}

#main-content-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none inside url();
}
.prj-list {
  font-size: 0.8em;
  overflow: hidden;
}
.prj-list li {
  margin: 0.2em 0;
}
.prj-list li a {
  padding: 0.5em;
  margin-right: 1em;
  display: block;
}
.prj-list li a:hover {
  background-color: #eee;
}
#personal-navigation-wrapper {
  min-height: 2em;
  margin-bottom: 1em;
}

#personal-navigation,
#breadcrumb-navigation {
  float: right;
  margin: 0.5em 3.5em 0.38em 0;
  padding: 0;
  font-size: 0.8em;
  height: 1.5em;
}
#personal-navigation li {
  margin: 0 0 0 1em;
}
#personal-navigation a#logout-trigger {}
#personal-navigation a,
#breadcrumb-navigation a {
  height: auto;
  padding-bottom: 0.2em;
  color: #999;
}
#personal-navigation a:hover,
#personal-navigation a.selected,
#breadcrumb-navigation a:hover,
#breadcrumb-navigation a.selected {
  border-bottom: 0.5em solid #909FAB;
}
#personal-navigation a.selected,
#breadcrumb-navigation a.selected {
  color: #c00;
}
#personal-navigation a#logout-trigger:hover {}
#breadcrumb-navigation {
  float: left;
}
#breadcrumb-navigation li {
  margin: 0 0.2em 0 0.2em;
  text-align: center;
}
#content-head {
  clear:both;
}
h1#main-headline {
  margin: 0 0 0.5em;
  color: #c6c6c6;
}
#content-left,
#content-right {
  float: left;
}

#footer {
  clear: left;
  border-top: 1px solid #a6a6a6;
  font-size: 11px;
  color: #767676;
  padding: 0.1em 0;
  height: auto;
  overflow: hidden;
  display: block;
  min-height: 300px;
  background: transparent url('images/footer-gradient.png') repeat-x 0 0;
}
#footer,
#footer-main-content {
  margin: 1em auto;
}
#footer * {}
#footer-main-content {
  overflow: hidden;
  min-height: 20em;
  height: auto;
  max-height: 40%;
  }
#footer-main-content * {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
#footer-main-content a {color: #3a71a8;}
#footer-main-content a:hover {color: #c00;}
#footer-navigation {
  margin: 0 0 1em 0;
  min-height: 7.5em;
}
#footer-navigation ul {
  display: inline;
  margin: 0;
  padding: 0;
}

#footer-navigation ul li {display: inline;}
#footer-navigation strong {
  display:block;
  float:left;
  width: 5em;
}

#footer-navigation hr {
  visibility: hidden;
  margin: 0.4em 0;
}
#footer-navigation {text-align: left;}
#footer-copyright {border-top: 1px dotted #999;}
#footer-sponsors {}
#footer-navigation .hotword-spacer {
  margin: 0 0.5em ;
  color: #a6a6a6;
}

/* - Widget CSS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.widget {
  margin-bottom: 2em;
  text-decoration: none;
  border: 3px dotted transparent;
}
.widget-head,
.widget-content-head,
.widget-content,
.widget-footer {
  margin: 2px 0;
  clear: both;
  overflow:hidden;
}
.widget h2 {
  color: #909FAB;
  font-size:1.2em;
  margin: 0 0 2px;
  }
.widget h3 {
  margin: 3px 0;
  float: left;
  font-size:0.8em;
  font-weight:bold;
  color: #979797;
}

.widget-head h2 {float: left;}
.widget-content-head h3 span,
.widget-content-head-2 h3 span {
  font-weight: normal;
  margin: 0 0.5em;
}
.widget-head {
}

.widget-head:hover { /* hightlight possibility of action */
  cursor: move;
}

.widget-head h2 a,
.widget-head h2 a * {
  text-decoration: none;
}

.widget-head h2 a span {
  color: #363636;
  font-size: 0.5em;
  font-weight: normal;
  display: none;
}
.widget-head h2 a:hover span {
  display: inline;
}

.widget ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

.widget-controle {
  width: auto;
  margin: 3px 0 0;
  float: right;
}
.widget-controle li {
  float: left;
  margin-left: 3px;
}
.widget-controle a {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  cursor: pointer;
}

.widget-controle a span {display: none;} /*for accessibility*/

.widget-content-head,
.widget-content-head-2,
.widget-footer {overflow: hidden;}

.widget-content-head {
  border-top: 1px solid #eee;
  padding-top: 3px;
}

.widget-content-head-2 {
  margin-top: .5em;
}

.widget ul {
  padding: 0;
  margin: 0.5em 0 0;
  font-size: 0.7em;
}
.widget-content li {
  list-style: none inside;
  margin-bottom: 2px;
}
.widget-content  li a {
  display: block;
  width: 100%;
  padding: 3px 0;
  margin: 0 5px;
  color: #666;
}
.widget-content li a:hover {
  text-decoration: none;
  color: #f6f6f6;
  color: #222;
}
.widget-content li span {
    margin-right: 0.5em;
}
.widget-content li span.widget-row-number{

}

.widget p {
  font-size: 0.8em;
}
.widget p.confirmation {
  text-align: right;
}
.widget p.confirmation * {
  margin-left: 1em;
}


.widget .list-control,
.widget .widget-paginator {
  float: right;
  width: auto;
}

.widget .widget-paginator {}

.widget-footer {
  border-top:1px solid #F5F5F5;
  border-bottom: 1px solid #eee;
}

.keyword-list {}
.keyword-list li,
.keyword-list li a {
  float: left;
}
.keyword-list li {
  border: 1px dotted #eee;
  margin: 0.2em;
  background-color: #f9f9f9;
}

.keyword-list li a {
  width: auto;
  margin: 0;
  height: 1.3em;
}

.keyword-list li a.switch-trigger {
  float: right;
  background-color: #f3f3f3;
  border-left: 1px solid #eee;
}
.keyword-list li a em {
  display: none;
}
.keyword-list li a.enabled span,
.keyword-list li a.disabled span {
  display: block;
  width: 16px;
  height: 13px;
  margin-left: 0.5em;
  background: transparent url('images/icons/checked.png') no-repeat scroll 0 0;
}
.keyword-list li a.enabled span {
  background-position: 0 0;
}
.keyword-list li a:hover.enabled span {
  background-position: -16px 0;
}
.keyword-list li a.disabled span {
  background-position: 0 -13px;
}
.keyword-list li a:hover.disabled span {
  background-position: -16px -13px;
}

/* Detail Info Layer */
.widget-detail-layer,
.widget-detail-layer .highlight-border,
.widget-detail-layer .right-tip {
  position: absolute;
}

.widget-detail-layer {
  display: none;
  min-width: 200px;
  min-height: 50px;
  overflow: hidden;
}

.widget-detail-layer div {
  float: left;
}

.widget-detail-layer .highlight-border {
  margin-right: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.widget-detail-layer .detail-content-wrapper {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.widget-detail-layer .highlight-border,
.widget-detail-layer .right-tip {
  top: 0;
  height: 100%;
}
.widget-detail-layer .highlight-border {
  left: 0;
  width: 190px;
  background-color: #333;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}
.widget-detail-layer .right-tip {
  right: 0;
  width: 15px;
  background: transparent url('images/tip-right.png') no-repeat scroll 0 0;
}
.widget-detail-layer .detail-content-wrapper {
  width: 180px;
  margin: 5px 0 5px 5px;
  background-color: #FCFCFC;
}
.widget-detail-layer * {
  font-size: 0.9em;
}
.widget-detail-layer h2,
.widget-detail-layer p,
.widget-detail-layer ul,
.widget-detail-layer ol {
  margin: 0.5em;
}
.widget-detail-layer p {
  width: auto;
}

.widget-detail-layer ul {
  font-size: 1.2em;
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.widget-detail-layer .detail-content {
  margin-bottom: 42px;
}
.widget-detail-layer .keyword-list {}
.widget-detail-layer .dialogue-footer {
  width: 100%;
  height: 2em;
  text-align: center;
}

/* Aggregator Widget ====================================================== */
.widget .widget-bs-aggregator {}

.widget-content ul .widget-bs-aggregator {
  margin: 0 0 0.5em;
}

.widget .widget-bs-aggregator li,
.widget .widget-bs-aggregator li a {
  display: block;
  width: 16px;
  height: 16px;
  width: 12px;
  height: 12px;
}
.widget .widget-bs-aggregator li {
  float: left;
  margin: 2px;
}
.widget .widget-bs-aggregator li a {
  margin: 0;
  padding: 0;
}
.widget .widget-bs-aggregator li span { /*for accessibility*/
  margin: 0;
  display: none;
}
.widget .widget-bs-aggregator li a:hover span {
}

/*=== Colors ===============================================================*/

/*
Base Colour: #909FAB
Idea behind the colours: Take normal colour + 46 Saturation and get the hover colour. 


Colors:

light grey:   #cccccc
hover:        #aaaaaa

grey:         #999999
hover:        #777777

blue:         #909FAB
hover:        #6487a9

red:          #d9bcbb
hover:        #cc807b

green:        #d7ddbd
hover:        #d0db82

violet:       #cabcdd
hover:        #9d7fda

*/

.blocked {background-color: #d9bcbb;} /* red */
.blocked:hover {background-color: #cc807b;}

.broken {background-color: #d9bcbb;} /* red */
.broken:hover {background-color: #cc807b;}

.building {background-color: #909FAB;} /* blue */
.building:hover {background-color: #6487a9;}

.disabled {background-color: #999;} /* gray */
.disabled:hover {background-color: #777;}

.dispatched {background-color: #909FAB;} /* blue */
.dispatched:hover {background-color: #6487a9;}

.excluded {background-color: #d9bcbb;} /* red */
.excluded:hover {background-color: #cc807b;}

.expansion-error {background-color: #d9bcbb;} /* red */
.expansion-error:hover {background-color: #cc807b;}

.failed {background-color: #d9bcbb;} /* red */
.failed:hover {background-color: #cc807b;}

.finished {background-color: #d7ddbd;} /* green */
.finished:hover {background-color: #d0db82;}

.scheduled {background-color: #cabcdd;} /* violet */
.scheduled:hover {background-color: #9d7fda;}

.succeeded {background-color: #d7ddbd;} /* green */
.succeeded:hover {background-color: #d0db82;}

.unknown {background-color: #ccc;} /* light grey */
.unknown:hover {background-color: #aaa;}

/*=== /Colors ==============================================================*/

/* /Aggregator Widget ===================================================== */

/* Reposiory Widget ======================================================= */

.widget-search {
  display: none;
  height: 1.4em;
  margin-top: 5px;
  padding: 0.2em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  
  background: #909FAB url('images/nav_gradient_dark2.png') repeat-x scroll 0 0;
}

.widget-search .input-filter {
  width: 80%;
  padding: 0.1em 0.2em;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  color: #666;
}
.widget-search form p {
  margin: 3px 0 0;
}
.widget-search button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid transparent;
  background: #eee url('images/nav_gradient_dark2.png') repeat-x scroll 0 0;
  margin: 0;
  color: #767676;
  cursor: pointer;
}

/* /Repository Widget ===================================================== */

/* Buttons, Trigger, hover, etc. ========================================== */

/* Interaction Icons 16x16 and general */
.widget .list-control a,
.widget .widget-paginator a { 
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px 5px 0;
  float: right;
  overflow: hidden;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
  
  font-size: 0.8em;
  
}

.widget .widget-paginator a {
  float: left;
  margin: 1px;
  margin: 0 1px 2px;
  margin: 1px 2px;
}


/* Interaction Icons 14x14 */
.widget .list-control a.size-14,
.widget .widget-paginator a.size-14 {
  width: 14px;
  height: 14px;
  margin: 3px 2px 0;
}

.widget .list-control span,
.widget .widget-paginator span {
  display: none;
}

/* Interaction Icons 16x16 and general */
.widget .add-trigger:hover,
.widget .remove-trigger:hover,
.widget .up-trigger:hover,
.widget .down-trigger:hover,
.widget .right-trigger:hover,
.widget .left-trigger:hover,
.widget .remove-trigger:hover {
  cursor: pointer;
}

/* Interaction Icons 14x14 and general */
/*.widget .add-trigger-14:hover,
.widget .remove-trigger-14:hover {
  background-position: 0 -14px;
  cursor: pointer;
}*/
/* Vote =================================================================== */

#vote-preview {
  overflow: hidden;
  cursor: pointer;
  height: 3em;
}

#vote-controle {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background: #666;
  background: transparent url('images/bg_light-white75.png') repeat 0 0;
}

.prominent-info {
  
}
.prominent-info strong {
  color: #c00;
}
h3.prominent-info {
 font-size: 1em;
}

.list-control a.show,
.list-control a.hide {
  width: auto;
}

#vote-preview:hover #vote-controle {
  display: block;
}

.vote-bar {
  margin: 1.5em auto 0;
  width: 90%;
}

.widget .vote-bar li {
  display: block;
  height: 1em;
  float: left;
}

.positiv {
  background: #d0db82;
}
.neutral {
  background: #ccc;
}
.negative {
  background: #cc807b;
}

.positiv span,
.neutral span,
.negative span {
  display: none;
}

div.vote-trigger {
  width: 114px;
  margin: 1.5% auto 0;
}
a.vote-trigger {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 3px;
}

#show-details-trigger,
#hide-details-trigger {
  width: auto;
}
#show-details-trigger .show-details,
#show-details-trigger .hide-details {
  cursor: pointer;
}
#show-details-trigger .show-details {
  display: inline;
}
#hide-details-trigger .hide-details {
  display: none;
}

/* ---- */

.vote-trigger strong {
  display: none;
}

.open-details {
  clear: left;
}
#vote-info {
  display: none;
}
#vote-info ul {
  width: 200px;
  margin: 0.5em auto; 
}

#vote-info ul li span {
  display: block;
  width: 8em;
}
#vote-monitor {
  margin: 0.5em 0;
  text-align: center;
  }
#vote-monitor img{
}

/* /Vote ================================================================== */

/* /Buttons, hover, etc. ================================================== */

/* 2-Row Content ========================================================== */

.two-row-head {
  margin-bottom: 0.3em;
}
.two-row-body {
  border-top: 1px dotted #ddd;
  clear: left;
}

/* /2-Row Content ========================================================= */

/* List Style ============================================================= */

.line1,
.line2 {
  color: #666;
}

.line1 {
  background-color: #f5f5f5;
}
.line2 {
  background-color: inherit;
}

.line1 a:hover,
.line2 a:hover {
  background-color: #c6ced5;
  color: #fff;
}
.value-list {
  text-align: right;
}
.value-list strong {
  float: left;
}

/* /List Style ============================================================ */

/* - /Widget CSS - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */



/* - Leyer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#layer {
  position: fixed;
  display: none;
  /*display: block;*/ /* DEBUG */
  top: 0;
  left: 0;
  right:auto;
  bottom: auto;
  
  width: 100%;
  height: 100%;
}

#layer-content-wrapper {
  margin: 60px auto 2em;
  min-width: 750px;
  width: 20em;
/*  min-height: 70%;
  max-height: 90%;*/
  background-color: #363636;
  background: transparent url('images/bg-dark-grey-75.png') repeat 0 0;
  border: 2px solid #464646;
  overflow: hidden;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}
#layer-head {}

#layer-content {
  overflow: auto;
  color: #f5f5f5;
}

#layer-content h1 {
  font-size: 1em;
  margin: 0;
}

a#layer-close {
  float: right;
  color: transparent; /* TODO: Check browser compatibility 2009-02-25 */
  margin-right: 5px;
  margin-top: 3px;
  display: block;
  width: 16px;
  height: 16px;
  color: transparent;
  
}
a#layer-close:hover {
  text-decoration: none;
}

#layer-footer {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 7px;
}

.button {  
  padding: 3px 7px;
  border: 1px solid #999;
  background: white url('images/bg-dark-gradient.png') repeat-x scroll 0 0;
  color: #555;
  cursor: pointer;
  font: 10pt Arial, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

  -moz-border-radius: 3px; /* Mozilla/Firefox Browser Roundet Corners */
  -webkit-border-radius: 3px; /* Wekbit Browser Roundet Corners */  
}
.button:hover {
  color: #222;
  text-decoration: none;
  background-position: 0 -70px;
}

.button-dark {
  background-color: #c7c7c7;
  }

/* - /Leyer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a.edit_hotword {
  font-size: 0.8em;
  background: transparent url('images/icons/edit_red_16.png') no-repeat scroll 0 0;
}

.widget a.edit_hotword {
  background-image: url('images/icons/config_red_12.png');
}

a.edit_hotword:hover {
  background-position: 0 -16px;
}
.widget a.edit_hotword:hover {
  background-position: 0 -12px;
}
a.edit_hotword span{
  display: none;
}



/* - Helper Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.hidden,
.hide {display: none!important;}

.show {display: block!important;}
.show-inline {display: inline;}
.no_border {border: none;}
.hightlight-font {color: #c00;}

.medium-font {
  font-size: 0.8em;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.fixed {
  position: fixed!important;
}

.pos-bottom {
  position: absolute;
  bottom: 0;
}

.inline-error { /* for highlighting small error messages in content */
  color: #cc807b;
}

/* - Helper Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* - DEBUG Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#grid-layer {
/*  display: block;*/
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}

#grid-main .col1 {
  background-color: #909FAB;
}
#grid-main {
  background: #eee;
  height: 100%;
  display: relative;
}
#grid-colTest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#grid-colTest div {
  background: #c00;
  height: 4em;
  margin-bottom: 1em;
  position: relative;
}

#dev-controle {
  position: absolute;
  display: block;
  top: 0;
  left: auto;
  right:0;
  bottom: auto;
  width: 1em;
  height: 1.2em;
  padding: 0 0.2em;
  font-size: 0.7em;
  color: transparent;
}

#dev-controle * {
  display: none;
  cursor: pointer;
  text-decoration: none;
}

#dev-controle:hover {
  width: auto;
  background: #eee;
  border-left: 1em solid #c00;
  border-right: 1em solid #eee;
  
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
}
#dev-controle:hover * {
  display: inline;
}

/* TODO: remove this before release */

/* - /DEBUG Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/