/*
 * Title: openSUSE.org stylesheet
 * Author: Robert Lihm <rlihm@suse.de>
 * Date: 2009-11-04
 */

/* 

html
  |-body
    |
    |- header
      |
      |- #global-navigation
      |
    |- display
    |- content
    | |
    | |- ...
    | |
    |- footer
    |

## Colours ##

Blue 1: #069 [e.g.: Link]
Blue 2: #39c [e.g.: Link hover]

Grey 1: #444 [e.g.: Global Font Colour]
Grey 2: #2e2e2e [e.g. Borders on dark BG => Global Searchform]
Grey 3: #666 [e.g.: Header Background]
Grey 4: #999 [e.g. Font-Colour in unselected <input type="text"/>]
Grey 5: #f6f6f6 [e.g. Body BAckground]



*/


/* == include 960 Grid CSS Framework ====================================== */
@import url("960.css") all;
@import url("reset.css") all;


/* == Basic Element Settings ============================================== */
html,
body {
  background: #f6f6f6;
  color: #444444;
  font: 16px "Lucida Grande", "Trebuchet MS", Arial, Verdana, sans-serif;
  height: 99%%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body > div {
  margin-bottom: 15px;
}

h1 {font-size: 1.5em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.2em;}
h4, h5, h6 {font-size: 1.1em;}

a {color: #069;}
a:hover {color: #39c; text-decoration: underline;}

p, ul, ol {margin: 1em 0;}

p {line-height: 150%;}

ul, ol {
  list-style: disc inside;
  padding: 0 1em;
}
ul li , ol li {margin: 0.2em 0;}
ul ul , ol ul, ul ol , ol ol {margin-top: 0em; margin-bottom: 0em;}

ol {list-style-type: decimal;}

input,
textarea {
  border: 1px solid #666;
  padding: 2px 3px;
}



/* == 960 Extension ======================================================= */

.ui-oo-content-wrapper .ui-oo-box-shadow > div.grid_5 {
  width: 260px;
}

/* == Basic UI Settings =================================================== */

#header,
#display,
#content,
#footer {
  
}

#header {
  background: #666 url('images/gradient-dark-nav.png') repeat-x scroll bottom left;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 25px;
  border-bottom: 1px solid #333;
}
#header,
#header ul#global-navigation li {
  height: 30px;
}

  #header-content {
    
  }
  #header ul#global-navigation{
    list-style: none inside;
    width: 700px;
    float: left;
  }
  #header ul#global-navigation,
  #header ul#global-navigation li {
    border-color: #4e4e4e;
    border-style: solid;
    margin: 0;
  }
    #header ul#global-navigation li:first-child {
      border-left-width: 1px;
    }
    #header ul#global-navigation li {
      float: left;
      border-right-width: 1px;
    }
      #header ul#global-navigation li a {
        color: #fefefe;
        display: block;
        height: 100%;
        margin: 0 15px;
        padding-top: 7px;
        text-decoration: none;
        width: 100%;
      }
      #header ul#global-navigation li a:hover {
        
      }
  #header li#global-favorites {
    float: right !important;
    border-left-width: 1px;
  }
  #header a#header-logo {
    float: left;
    margin-top: 1px;
    margin-right: 25px;
  }
  #header #global-search-form {
    float: right;
    margin-top: 4px;
  }
  #header #global-search-form input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    border: 1px solid #2e2e2e;
    color: #999;
  }
    #header #global-search-form input:focus {
      color: #330;
    }
#subheader {
  font-size: 0.8em;
  margin-top: -15px;
}
#breadcrump {
  font-size: 0.9em;
  color: #333;
}
  #breadcrump img {
    float: left;
    margin-right: 5px;
    border-bottom: 1px solid transparent;
  }
  #breadcrump a {
    text-decoration: none;
    color: #666;
  }
  #breadcrump a:hover {
    text-decoration: underline;
  }
#content > div,
#subheader,
#display,
#content {
  overflow: hidden;
  margin-bottom: 15px;
}
#display-content {
  height: 450px;
}
#footer-content,
#footer-legal {
  color: #666;
  font-size: 0.8em;
}
#footer {
  padding: 42px 0 100px;
  font-size: 0.9em;
  overflow: hidden;
}
  #footer-legal {
    border-top: 1px dotted #999;
    color: #999;
    font-size: 0.7em;
    margin-top: 25px;
    padding-top: 5px;
    text-align: center;
  }
 
/* INFO: #ui-oo-* and .ui-oo-* are Interface related styles for openSUSE.org */

.ui-oo-content-wrapper {
  font-size: 0.8em;
}
  .ui-oo-content-wrapper .ui-oo-box-shadow.navigation > * {
    margin: 0.5em 15px;
  }
  .ui-oo-content-wrapper .ui-oo-box-shadow > * {
    margin: 0.5em 15px;
  }
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > :first-child {margin-top: 0;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h1 {margin-top: 2em; margin-bottom: 0.7em;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h2 {margin-top: 1.8em; margin-bottom: 0.7em;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h3 {margin-top: 1.5em; margin-bottom: 0.7em;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h4 {margin-top: 1em; margin-bottom: 0.5em;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h5 {margin-top: 1em; margin-bottom: 0.5em;}
    .ui-oo-content-wrapper .ui-oo-box-shadow > * > h6 {margin-top: 1em; margin-bottom: 0.5em;}

.ui-oo-box-shadow {
  border-color: #ddd #ccc #bbb;
  border-style: solid;
  border-width: 1px;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;

  box-shadow: 0 1px 3px #ccc;
  -webkit-box-shadow: 0 1px 3px #ccc;
  -moz-box-shadow: 0 1px 3px #ccc;
  
  background-color: #fefefe;

  padding: 15px 0;
}
  .ui-oo-box-shadow.alpha,
  .ui-oo-box-shadow.omega {
    margin-bottom: 3px;
  }
  .ui-oo-box-shadow.alpha {
    margin-left: 3px;
  }

  div.navigation {
    padding-top: 0;
  }
  ul.navigation {
    list-style: none inside;
    padding-left: 0;
    width: 85%;
  }
    ul.navigation li {
    }
    ul.navigation a {
      color: #666;
      text-decoration: none;
      
      display: block;
    }
    ul.navigation a:hover {
      text-decoration: underline;
      background: transparent url('images/right_btn.gif') no-repeat scroll bottom right; /* TODO 2009-11-06: replace with PNG */
      
    }
  div.navigation h1 {
    font-size: 1.2em;
    color: #069;
  }
  
  div.col_2 {
    width: 50%;
  }
/* == Customisation ======================================================= */

/* -- Content Area Settings ----------------------------------------------- */

.aside ul {
  list-style: none inside;
}

p img {
  padding: 0;
  max-width: 100%;
  }
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
img.alignright,
img.alignleft {
  padding: 4px;
  display: inline;
}
img.alignright {margin: 0 0 2px 7px;}
img.alignleft {margin: 0 7px 2px 0;}
.alignright {float: right;}
.alignleft {float: left;}

/* -- Form Settings ------------------------------------------------------- */


/* == Helper Styles ======================================================= */

.ui-oo-border-top {
  border-top: 1px dotted #999;
}

.hidden {
  display: none;
}

.clear-left {
  clear: left;
}
.clear-both {
  clear: left;
}
.clear-right {
  clear: left;
}

.alignright {}
.alignleft {}


/* == Mockup Styles ======================================================== */
/* This Styles are just for Mockups. They don't have full *-browser suppert! */

.column_2 {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  
}

.column_3 {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

.column_4{
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

/* == Debug Styles ======================================================== */

.debug-design-note {
  color: #ddd;
  font-size: 9px;
}

a {
/*  color: #666;*/
  /*text-decoration: none;*/
}